.DS_Store
node_modules/
tmp/
*.log
.idea/
yarn.lock
package-lock.json
.nyc_output/
coverage/
.tmp*
.vscode

Thumbs.db
.idea
/.pnp
.pnp.js
.pnp.cjs
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
yarn-error.log*
pnpm-lock.yaml
test.html

db.json
public/
.deploy*/
_multiconfig.yml
